  //////////////////////
 // Embedded Content //
//////////////////////

// Remove border when inside `a` element in IE 8/9.

img {
    border: 0;
}

// Correct overflow displayed oddly in IE 9.

svg:not(:root) {
    overflow: hidden;
}